# Server
PORT=5000
NODE_ENV=development

# Client
CLIENT_URL=http://localhost:5173

# Database
MONGO_URI=mongodb://localhost:27017/
# JWT
JWT_SECRET=uishfoisuwer7sdfiosivnoisdhgo88sdg0wtw44tisdovnkvnweut98wtu8fijcv
JWT_EXPIRES_IN=7d

# Razorpay
RAZORPAY_KEY_ID=rzp_test_TFk6xI302CDioa
RAZORPAY_KEY_SECRET=uTMFdZXMtV5Gm4vV2wEpstQt

# Rate limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=200
